
body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  color: #e0b3ff;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input, select, button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 80%;
  font-size: 1.1rem;
}

button {
  background: #a100ff;
  color: white;
  font-weight: bold;
}
